html,
body {
	height: 100%;
}

body {
	min-height: 100%;
}

.scroll {
	height: 100%;
}

.bar {
	&.bar-stable {
		.title {
			margin: 0;
			
			@include text-shadow;
			color: $white;

			background-color: $light-blue;
		}
	}
}

.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.active,
.tabs-top.tabs-striped .tab-item.activated {
	color: $light-blue;
	border-bottom-color: $light-blue;
}