// Colors
$white:         #FFFFFF;
$dirty-white:   #E6E6E6;
$black:         #000000;
$light-blue:    #4AA3DF;
$blue:          #2980B9;
$dark-blue:     #2875A7;
$darkest-blue:  #0F5C8E;

// Fonts
$font-stack:    "Helvetica Neue", "Roboto", sans-serif;

// Breakpoints
$small-smartphone:  480px;
$small-tablet:      767px;
$tablet:            1024px;
$mid-tablet:        1440px;
$big-tablet:        1920px;