<ion-view view-title="{{monitor.name}}" class="monitor-details">

  <ion-content class="padding">
    <div ng-if="monitorName == 'bexrb'">
      <p class="details">
        Right Ascension {{monitor.rightAscension}} ,
        Declination {{monitor.declination}}
      </p>
      <div class="mini-title" style="overflow:hidden;">
        MAXI
        <span style="float: right;white-space: nowrap;">{{monitor.collectedData.maxi.date}}</span>
      </div>
      <p class="data-details-row" style="overflow:hidden;">
        FLUX CHANGE PROB:
        <span style="float: right;white-space: nowrap;">
          <span ng-if="monitor.collectedData.maxi.fluxChangeProbability.action == 'increment'" style="color: #ff4830;">Incremented</span>
          <span ng-if="monitor.collectedData.maxi.fluxChangeProbability.action == 'decriment'" style="color: #f4fa43;">Decrimented</span>
          {{monitor.collectedData.maxi.fluxChangeProbability.value}}%
        </span>
      </p>
      <p class="data-details-row" style="overflow:hidden;">
        AVARAGE FLUX mCrab:
        <span style="float: right;white-space: nowrap;">
          {{monitor.collectedData.maxi.averageFlux}}
        </span>
      </p>

      <div class="mini-title" style="overflow:hidden;">
        SWIFT / BAT
        <span style="float: right;white-space: nowrap;">{{monitor.collectedData.swiftBat.date}}</span>
      </div>
      <p class="data-details-row" style="overflow:hidden;">
        FLUX CHANGE PROB:
        <span style="float: right;white-space: nowrap;">
          <span ng-if="monitor.collectedData.swiftBat.fluxChangeProbability.action == 'increment'" style="color: #ff4830;">Incremented</span>
          <span ng-if="monitor.collectedData.swiftBat.fluxChangeProbability.action == 'decriment'" style="color: #f4fa43;">Decrimented</span>
          {{monitor.collectedData.swiftBat.fluxChangeProbability.value}}%
        </span>
      </p>
      <p class="data-details-row" style="overflow:hidden;">
        AVARAGE FLUX mCrab:
        <span style="float: right;white-space: nowrap;">
          {{monitor.collectedData.swiftBat.averageFlux}}
        </span>
      </p>

      <div class="mini-title" style="overflow:hidden;">
        FERMI / GBM
        <span style="float: right;white-space: nowrap;">{{monitor.collectedData.fermiGbm.date}}</span>
      </div>
      <p class="data-details-row" style="overflow:hidden;">
        FLUX CHANGE PROB:
        <span style="float: right;white-space: nowrap;">
          <span ng-if="monitor.collectedData.fermiGbm.fluxChangeProbability.action == 'increment'" style="color: #ff4830;">Incremented</span><span ng-if="monitor.collectedData.fermiGbm.fluxChangeProbability.action == 'decriment'" style="color: #f4fa43;">Decrimented</span>

          {{monitor.collectedData.fermiGbm.fluxChangeProbability.value}}%
        </span>
      </p>
      <p class="data-details-row" style="overflow:hidden;">
        AVARAGE FLUX mCrab:
        <span style="float: right;white-space: nowrap;">
          {{monitor.collectedData.fermiGbm.averageFlux}}
        </span>
      </p>

      <p ng-if="monitor.imageURL">
        <img ng-src="img/demo/{{monitor.image}}.jpg" alt="" style="width: 100%">
      </p>
    </div>

    <div ng-if="monitorName == 'fermi'">
      <div class="mini-title" style="overflow:hidden;">
        Coordinates {{monitor.coordinates}}
      </div>

      <div class="mini-title" style="overflow:hidden;">
        Daily Light Curves
      </div>
      <img ng-src="http://fermi.gsfc.nasa.gov{{monitor.dailylC}}" alt="" style="width: 100%">

      <div class="mini-title" style="overflow:hidden;">
        Weekly Light Curves
      </div>
      <img ng-src="http://fermi.gsfc.nasa.gov{{monitor.weeklylC}}" alt="" style="width: 100%">

    </div>

    <div ng-if="monitorName == 'swift'">
      <div class="mini-title" style="overflow:hidden;">
        Coordinates
      </div>
      <p class="details">
        RA J2000 Degs: {{monitor.ra}}, Dec J2000 Degs: {{monitor.dec}}
      </p>

      <div class="mini-title" style="overflow:hidden;">
        Alternate Name
        <span style="float: right;white-space: nowrap;">
          {{monitor.altName}}
        </span>
      </div>
      <div class="mini-title" style="overflow:hidden;">
        Source Type
        <span style="float: right;white-space: nowrap;">
          {{monitor.type}}
        </span>
      </div>

      <div class="mini-title" style="overflow:hidden;">
        Today
        <span style="float: right;white-space: nowrap;">
          {{monitor.today}}
        </span>
      </div>

      <div class="mini-title" style="overflow:hidden;">
        Yesterday
        <span style="float: right;white-space: nowrap;">
          {{monitor.yesterday}}
        </span>
      </div>

      <div class="mini-title" style="overflow:hidden;">
        Tenday
        <span style="float: right;white-space: nowrap;">
          {{monitor.tenday}}
        </span>
      </div>

      <div class="mini-title" style="overflow:hidden;">
        Mean
        <span style="float: right;white-space: nowrap;">
          {{monitor.mean}}
        </span>
      </div>

      <div class="mini-title" style="overflow:hidden;">
        Peak
        <span style="float: right;white-space: nowrap;">
          {{monitor.peak}}
        </span>
      </div>

      <div class="mini-title" style="overflow:hidden;">
        Days
        <span style="float: right;white-space: nowrap;">
          {{monitor.days}}
        </span>
      </div>

      <div class="mini-title" style="overflow:hidden;">
        Last Day
        <span style="float: right;white-space: nowrap;">
          {{monitor.lastDay}}
        </span>
      </div>
    </div>

  </ion-content>
</ion-view>
