<ion-view view-title="MAXI Flux Tracker">

  <ion-content class="">

    <div class="monitors-wrapper" style="position: relative; z-index: 100;">

      <a href="#/tab/data/bexrb" ng-class="{true: '', false: 'disabled'}[bexrb == true]" class="bexrb monitor button button-block button-positive">
        <div class="title-holder">
          <span class="heading">BeXRB monitor</span>
          <span class="sub-heading">Swift/BAT, MAXI and Fermi/GBM </span>
        </div>
      </a>

      <a href="#/tab/data/fermi" ng-class="{true: '', false: 'disabled'}[fermi == true]" class="fermi monitor button button-block button-positive">
        <div class="title-holder">
          <span class="heading">Fermi GBM</span>
          <span class="sub-heading">Gamma-Ray Space Telescope</span>
        </div>
      </a>

      <a href="#/tab/data/swift" ng-class="{true: '', false: 'disabled'}[swift == true]" class="swift-bat monitor button button-block button-positive">
        <div class="title-holder">
          <span class="heading">SWIFT / BAT</span>
          <span class="sub-heading">Swift/BAT Hard X-ray<br>Transient Monitor</span>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
