<ion-view view-title="{{monitorName}} Monitor Data">
  <ion-content>

    <ion-list ng-if="monitorName == 'bexrb'">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="monitor in monitors" type="item-text-wrap" href="#/tab/data/view/{{monitorName}}/{{monitor.id}}">
        <h2>{{monitor.name}}</h2>
        <p>Right Ascension: {{monitor.rightAscension}}</p>
        <p>Declination: {{monitor.declination}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <ion-list ng-if="monitorName == 'swift'">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="monitor in monitors" type="item-text-wrap" href="#/tab/data/view/{{monitorName}}/{{monitor.id}}">
        <h2>{{monitor.name}}</h2>
        <h2>Alternative Name: {{monitor.altName}}</h2>
        <p>Type: {{monitor.type}}</p>
        <p>Units of mCrab: {{monitor.today}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <ion-list ng-if="monitorName == 'fermi'">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="monitor in monitors" type="item-text-wrap" href="#/tab/data/view/{{monitorName}}/{{monitor.name}}">
        <h2>{{monitor.name}}</h2>
        <p>{{monitor.coordinates}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
