<ion-view view-title="About MAXI Flux Tracker" class="about-tab">
  <ion-content class="padding">
  	<h2>About the Maxi-Flux Tracker</h2>
    <p>
	    There are many various sources for tracking and displaying Flux of black holes and neutron stars.
	    <br> 
		The issue here occurs from the inconsistency of information through out the various services.
		<br> 
		Our team strives to unify and gather all the needed data, in order to achieve a consistent information stream providing the user with the most accurate data concerning flux changes and their occurance.
		<br>
		As a feature, you get all the needed information on a single web service at the tip of your fingers.
	</p>
    <h2>Team</h2>
    <ul>
    	<li><a href="https://www.linkedin.com/profile/view?id=92740553" target="_blank">Samuil Gospodinov</a></li>
    	<li><a href="https://www.linkedin.com/in/nedislav" target="_blank">Nedislav Denev</a></li>
    	<li><a href="https://www.linkedin.com/profile/view?id=78493960" target="_blank">Steve Stavrev</a></li>
    	<li><a href="https://www.linkedin.com/profile/view?id=241515647" target="_blank">Daniel Rusev</a></li>
    	<li><a href="https://github.com/nask0" target="_blank">Atanas Beloborodov</a></li>
    	<li><a href="https://www.linkedin.com/profile/view?id=150746868" target="_blank">Stanislav Kumanov</a></li>
    	<li><a href="https://www.linkedin.com/profile/view?id=240831590" target="_blank">Martina Chavdarova</a></li>
    </ul>
  </ion-content>
</ion-view>
