<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Monitors" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/monitors">
    <ion-nav-view name="tab-monitors"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Data" icon-off="ion-planet" icon-on="ion-planet" href="#/tab/data">
    <ion-nav-view name="tab-data"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Info" icon-off="ion-ios-information-outline" icon-on="ion-ios-information-outline" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>


</ion-tabs>