.about-tab {

	.scroll {

		h2 {
			margin-bottom: 5px;
			
			color: $white;
			font-size: 25px;
			@include text-shadow;
		}

		p {
			color: $white;
			@include text-shadow;
		}

		ul {
			li {
				a {
					// text-decoration: none;
					color: $dirty-white;
					@include text-shadow;
				}
			}
		}
	}
}