.monitors-wrapper {
	height: 100%;
	display: block;
	
	.monitor {
		height: 33.3%;
		margin: 0;
		position: relative;

		border: none;
		text-align: center;

		&.bexrb {
			background-color: $dark-blue;
		}

		&.fermi {
			background-color: $blue;
		}

		&.swift-bat {
			background-color: $light-blue;
		}

		.title-holder {

			position: absolute;
			display: block;
			top: 50%;
			left: 0;
			right: 0;

			text-align: center;
			transform: translateY(-50%);

			.heading,
			.sub-heading {
				display: block;
				color: $white;
				@include text-shadow(3px, 3px, 2px, rgba(0, 0, 0, 0.5));
				font-family: $font-stack;
				// @include text-shadow( 3px, 2px, 2px, rgba(150, 150, 150, 1) );
			}

			.heading {
				font-size: 3.5vw;
				padding-bottom: 1vw;
			}

			.sub-heading {
				font-size: 1.75vw;
			}

			@media (max-width: $big-tablet) {
			  	.heading {
			  		font-size: 4vw;
			  		padding-bottom: 1vw;
			  	}

			  	.sub-heading {
			  		font-size: 2vw;
			  	}
			}

			@media (max-width: $mid-tablet) {
				.heading {
					font-size: 5vw;
					padding-bottom: 1vw;
				}

				.sub-heading {
					font-size: 2.5vw;
				}
			}

			@media (max-width: $tablet) {
				.heading {
					font-size: 6vw;
					padding-bottom: 1vw;
				}

				.sub-heading {
					font-size: 3vw;
				}
			}

			@media (max-width: $small-tablet) {
				.heading {
					font-size: 7vw;
					padding-bottom: 1vw;
				}

				.sub-heading {
					font-size: 4vw;
				}
			}

			@media (max-width: $small-smartphone) {
				.heading {
					font-size: 8vw;
					padding-bottom: 1vw;
				}

				.sub-heading {
					font-size: 5vw;
				}
			}


		}

	}

}