.item-avatar {
	
	margin: 0;

	border-left: none;
	border-right: none;
	border-top: 1px solid $darkest-blue;
	border-bottom: 1px solid $light-blue;
	
	border-bottom-color: $light-blue;
	border-top-color: $darkest-blue;

	.item-content {
		padding-left: 5% !important;
		@include text-shadow;		
		background-color: $dark-blue;

		&.activated {
			background-color: $light-blue;
		}
		
		h2 {
			color: $white;
		}

		p {
			color: $dirty-white;
		}

	}
}
