/* Empty. Add your own CSS if you like */

.platform-android .bar .title {
    text-align: center;
}

.item-complex.item-icon-right .item-content {
    padding-left: 10px;
}

.monitors-wrapper .monitor {
    display: block;
    line-height: 1;
    border-radius: 0;
}

.monitors-wrapper .monitor .title-holder {
    transform: none;
    margin-top: -9%;
}

.pane {
    background: #3f96d2;
}